{% extends 'Proapp/basic.html' %}
{% block css %}
<style xmlns:border="http://www.w3.org/1999/xhtml">
 @media print{
	body { font-size: .8em; }
	}
}

</style>

{% endblock %}
{% block body%}
{% load static %}
<div id="facilities" class="basic-1">
<div class="container my-3">
    {% csrf_token %}
<!-- fname,mname,lname,address,emailid,nopeople,pdate,ptime,pcategory,city,zipcode  -->
<h1>Form data</h1>

<div class="card" style="width: 68rem;">
    {% for i in data%}
  <div class="card-body">
      <div id="printableArea">
          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Token Number :-   {{i.11}}</h5></pre>
                </div>
          </div>

            <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Name :-   {{i.0}} {{i.1}} {{i.2}}</h5></pre>
                </div>
          </div>

          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Address :-   {{i.3}}</h5></pre>
                </div>
          </div>

          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Email Id :-   {{i.4}}  </h5></pre>
                </div>
          </div>

          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>No of People :-   {{i.5}}   </h5></pre>
                </div>
          </div>

          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Pooja Date :-   {{i.6}}   </h5></pre>
                </div>
          </div>

          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Pooja Time :-   {{i.7}}   </h5></pre>
                </div>
          </div>

          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Pooja Type :-   {{i.8}} </h5></pre>
                </div>
          </div>

          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>City :-   {{i.9}}  </h5></pre>
                </div>
          </div>
          <div class="row">
              <div class="col" >
                  <pre class="card-text"><h5>Zip Code :-   {{i.10}}  </h5></pre>
                </div>
          </div>

  </div>
    {% endfor %}
      <button class="print btn btn-primary" onclick="printPageArea('printableArea')">Print</button>
</div>
    </div>
    </div>
</div>
{% endblock %}
{% block js%}
<script>
    console.log('click');
    function printPageArea(areaID){
    var printContent = document.getElementById(areaID);
    var WinPrint = window.open('', '', 'width=2000,height=650');
    WinPrint.document.write(printContent.innerHTML);
    WinPrint.document.close();
    WinPrint.focus();
    WinPrint.print();
    WinPrint.close();
}
    function display() {
            window.print();
         }
</script>
{% endblock%}